<div class="card mx-auto text-center border-light" style="width: 18rem">
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fopenclipart.org%2Fimage%2F2400px%2Fsvg_to_png%2F272339%2Fangular.png&f=1&nofb=1&ipt=417ba838e70c97afc5bca0adadbce40ed3d4ac211e4638bf5dfd0361838319d2&ipo=images"
    class="card-img-top"
    alt="Angular logo"
  />
  <div class="card-body">
    <h5 class="card-title">Angular Projects</h5>
    <p class="card-text">
      A personal blog created with the Angular framework and the Scully static
      site generator
    </p>
    <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
    <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
  </div>
</div>
